@import "styles/utils";

.button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &.primary {
    min-width: 115px;
    min-height: 39px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 3.75px;
    text-transform: uppercase;
    color: var(--primary-color-light);
    background: var(--white-color);
    border-radius: 28px;

    @include media(">tablet") {
      min-width: 146px;
      min-height: 56px;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 5px;
    }
  }

  .content {
    flex: 1;
    padding-left: 10px;
  }

  .iconWrapper {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    border-radius: 50%;
    margin-right: 4px;

    @include media(">tablet") {
      width: 40px;
      height: 40px;
      margin-right: 9px;
    }
  }
}
